<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
</head>
<body>

<img src="{{ url_for('static', filename='logo.png') }}" width="150">

<h2>Connexion</h2>

<form method="POST">
    <label>Identifiant</label><br>
    <input type="text" name="username" required><br><br>

    <label>Mot de passe</label><br>
    <input type="password" name="password" required><br><br>

    <button type="reset">Reset</button>
    <button type="submit">Valider</button>
</form>

<br>
<a href="{{ url_for('register') }}">Ajouter un compte</a>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
{% endwith %}

</body>
</html>
